hack/Debug
hack/Release
hack/ddhack.ncb
hack/ddhack.opensdf
hack/ddhack.sdf
hack/ddhack.suo
hack/ddhack.vcxproj.user
hack/ipch
hack/out
logger/Debug
logger/Release
logger/ddwrapper.ncb
logger/ddwrapper.opensdf
logger/ddwrapper.sdf
logger/ddwrapper.suo
logger/ddwrapper.vcxproj.user
logger/ipch
logger/out